<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Encuentra viajes a diferentes destinos turísticos al precio más bajo">
    <meta name="author" content="Tomas Ghizzoni">
    <title>Viaja Mundo</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="containercondi">
        <h1>Condiciones y Términos de Servicio</h1>
        <p>Por favor, lee cuidadosamente los siguientes términos y condiciones:</p>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</li>
            <li>Sed nisi. Nulla quis sem at nibh elementum imperdiet.</li>
            <li>Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</li>
            <li>Mauris massa. Vestibulum lacinia arcu eget nulla.</li>
            <li>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
        </ul>
        <p>Estos términos y condiciones rigen el uso de nuestro servicio. Al usar nuestro servicio, aceptas estos términos y condiciones en su totalidad. Si no estás de acuerdo con estos términos y condiciones, no utilices nuestro servicio.</p>
        <div class="volver">
            <a href="presupuesto.html">Volver al formulario para enviarlo</a>
        </div>  
    </div>
    <script src="script.js"></script>
</body>
</html>
